body {}

#root {
	max-width: 1280px;
	width: 100%;
	min-height: 100dvh;
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.canvas-wrapper {
	width: calc(100% - 10px);
	height: calc(100% - 15px);
	margin: 3px;
	border: 1px solid blue;
	flex: 1 0 auto;
	position: relative;
}

.actions {
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	gap: 4px;

	button {
		padding: 4px 8px;
	}
	p {
		padding:0;
		margin:  0 0 0 14px;
	}
}
